<head>
  <meta charset="UTF-8">
  <title>Blog Post</title>
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="header">
      <nav>
        <ul class="topnav">
          <li> <a href="/">Home</a></li>
          <li> <a href="/dashboard">Dashboard</a> </li>
          {{#if loggedIn}}
          <li><a href="" id="logout">Logout</a></li>
          {{else}}
          <li> <a href="/login">Login</a> </li>
          {{/if}}
        </ul>
      </nav>
      <h1>
       The Tech Blog
      </h1>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </body>

</html>